<app-header [cartCount]="cartCount" [billing]="billing"></app-header><br />
<div class="container productDetails">
    <p>
        <a routerLink="/">Home</a>&nbsp;&nbsp;>&nbsp;
        <a>{{category_name}} </a>&nbsp;&nbsp;>&nbsp;<a
            *ngIf="sub_category_name">{{sub_category_name}}</a>&nbsp;&nbsp;>&nbsp;{{prodName}}
    </p>
    <div class="row">
        <!-- <div class="col-md-2">
            <div class="img">
                <img *ngFor="let img of prodImages" [src]="img" class="prod-images" (click)="showBigImage(img)">
            </div>
        </div> -->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img id="myImg" src="{{product_image}}" [imageZoom]="zoomedImageSrc" alt="Snow">
            <div class="row">
                <div class="col-md-9">
                    <div class="img">
                        <img *ngFor="let img of prodImages" [src]="img.sku_image" class="prod-images"
                            (click)="showBigImage(img.sku_image)">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 details">
            <h4>{{prodName}} </h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="quantity-price text-center">
                        <select (change)="changeSize($event.target.value)">
                            <option *ngFor="let sku of skuData" [value]="sku.skid" data-icon="images/sample-1.jpg"
                                class="left">{{sku.size}} {{sku.size_measuring_unit=='undefined'?'':sku.size_measuring_unit}}

                                - BD {{selling_price}}
                            </option>
                            <!-- <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
              <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option> -->
                        </select>
                        <!-- <div class="quantity">
                            <button class="btn btn-icon btn-maroon btn-minus" (click)="itemDecrease(data.cart_id)">
                                <span>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                            </button>
                            <input type="text" value="1" name="quantity" [(ngModel)]="quantity" readonly="readonly"
                                value="{{quantity}}" class="text-center" disabled>
                            <button class="btn btn-icon btn-maroon btn-plus" (click)="itemIncrease(data.cart_id)">
                                <span>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <br />
            <p class="per-tag">Get {{discountPer}}% OFF
            </p>
            <p><strong>BD:</strong> {{selling_price}}
                <span>
                    <strike><strong>BD : </strong> {{actual_price}}</strike>(Inclusive of all taxes)</span>
            </p>
            <!-- <div class="quantity" *ngFor="let sku of prodData">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(item.cart_id)">
                    <i class="fa fa-minus " aria-hidden="true"></i>
                </button>

                <input type="text" name="quantity" [(ngModel)]="item.quantity" readonly="readonly" value="{{item.quantity}}" />
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(item.cart_id)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div> -->
            <!-- <p>
                <span>Shop for BD.2000 & get 5% Cashback</span>
            </p> -->
            <div class="row">
                <div class="col-md-6 col-sm-12 cart-btn">
                    <!-- <div class="quantity">
						<button class="minus-btn" type="button" name="button" (click)="itemDecrease()">
							<i class="fa fa-minus " aria-hidden="true"></i>
						</button>
						<input type="text" name="quantity" [(ngModel)]="item.quantity" readonly="readonly" value="{{item.quantity}}" />
						<button class="plus-btn" type="button" name="button" (click)="itemIncrease()">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div> -->
                    <!-- <div class="quantity">
                        <button class="minus-btn" type="button" name="button" (click)="itemDecrease()">
                            <i class="fa fa-minus " aria-hidden="true"></i>
                        </button>

                        <input type="text" name="quantity" [(ngModel)]="quantity" readonly="readonly"
                            value="quantity" />
                        <button class="plus-btn" type="button" name="button"
                            (click)="checkProdQuty(prodId,skid,selling_price,venId,vendor_product_id,discount)">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div> -->
                    <!-- <div class="col-lg-3 col-md-3 col-sm-3 text-right mt-3"> -->
                    <!-- <div class="quantity">
                        <button class="minus-btn" type="button" name="button" (click)="itemDecrease(item.cart_id)">
                            <i class="fa fa-minus " aria-hidden="true"></i>
                        </button>

                        <input type="text" name="quantity" [(ngModel)]="quantity" readonly="readonly"
                            value="{{quantity}}" />
                        <button class="plus-btn" type="button" name="button"
                            (click)="checkProdQuty(item.cart_id,item.product_id,item.sku_id,item.quantity,item.vendorid_as_owner,item.vendor_product_id)">
                            <i class=" fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div> -->
                    <!-- </div> -->
                    <button class="btn btn-maroon add-cart" [value]="prodId"
                        (click)="checkProdQuty(prodId,skid,selling_price,venId,vendor_product_id,discount)">Add to
                        Cart</button>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="row">
        <div class="col-md-9">
            <div class="img">
                <img *ngFor="let img of prodImages" [src]="img.sku_image" class="prod-images"
                    (click)="showBigImage(img.sku_image)">
            </div>
        </div>
    </div> -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <br />

    <div class="row desription">
        <h5>Description</h5>
        <div class="col-md-12">
            <p>{{description}}
            </p>
        </div>
    </div>
    <!-- <div class="row desription"> -->

    <!-- <br />No Related Products -->
    <div class="desription">
        <h5>More Products Related Your Search</h5>
    </div>
    <div class="row desription">
        <!-- <h5>More Products Related Your Search</h5> -->
        <br />
        <div class="col-md-3  item more-products" *ngFor="let data of prodData;let i=index">
            <div class="wrapper" *ngIf="i<4">
                <div class="card">
                    <img src="assets/images/background-img.png" class="cream-layer bg-layer ">
                    <img class="img-fluid gro-img" [src]="data.image" alt="Card image cap"
                        (click)="showProduxtDetails(data.vendor_product_id,data.vendorid_as_owner)">
                    <div class="card-block">
                        <h5 class="text-center">{{data.product_name}} </h5>
                        <p class="text-center">
                            BD {{data?.selling_price}}
                            <strike>BD {{data?.actual_price}}</strike>
                        </p>
                        <div class="sort">
                            <select (change)="changeSize($event.target.value)">
                                <option *ngFor="let sku of data.sku_row" [value]="sku?.skid">{{sku?.size}}-BD
                                    {{data?.selling_price}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn cart-btn"
                        (click)="checkProdQuty(data.product_id,data.skid,data.selling_price,data.vendorid_as_owner,data.vendor_product_id,data.updated_discount)">Add
                        To
                        Cart
                    </button>
                </div>
                <!-- <ul class="expand-button">
                    <li><a
                            (click)="checkProdQuty(data.product_id,data.skid,data.selling_price,data.vendorid_as_owner,data.vendor_product_id,data.updated_discount)"><i
                                class="fas fa-shopping-basket"></i></a>
                    </li>
                    <li><a (click)="openNew(data.skid)"><img src="assets/images/maximize.png"></a></li>
                </ul>
                <ul class="expand-button2 expand-button-2">
                    <li><a (click)="addtoWish(data.product_id,data.skid)"><i class="fas fa-heart"
                                [ngStyle]="{'color':data.wish_list == 'true' ? 'yellow'  :  '#dfdfdf'}"></i></a>
                    </li>
                </ul> -->
            </div>

        </div>
    </div>
    <!-- end deals -->
    <!-- </div>

</div> -->
    <!-- <link rel="stylesheet" href="assets/css/ninja-slider.css">
<link rel="stylesheet" href="assets/css/thumbnail-slider.css">


<script src="assets/js/thumbnail-slider.js"></script>
<script src="assets/js/ninja-slider.js"></script> -->