<div class="container-fluid back-color">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-3 logo">
					<img src="assets/images/logo1.png" class="img-fluid" alt="Responsive image">
					<hr />

					<p>{{"common.loreum1" | translate}}</p>
					<br />
					<div class="address">
						<p>
							<i class="fa fa-map-marker" aria-hidden="true">
								<span class="cust-span">
									<b>123 Manama road,</b> Manama,
								</span>
								<br />
								<span class="cust-span2">
									Kingdom of Bahrin
								</span>
							</i>
						</p>
						<p>
							<i class="fa fa-envelope-square" aria-hidden="true"> &nbsp;&nbsp;
								<b>info@mahallimall.com</b>
							</i>
						</p>

						<p>
							<i class="fa fa-phone-square" aria-hidden="true">&nbsp;&nbsp;
								<b>+97317555666</b>
							</i>
						</p>
					</div>
				</div>
				<div class="col-md-3">
					<h4>Mahalli
						<strong>Information</strong>
					</h4>
					<hr />
					<ul>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('aboutus')">About Mahalli</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('sellers')">Top Sellers</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('blog')">Our Blog</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('newProducts')">New Products</a>
						</li>
						<!-- <li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a href>Secure shopping</a>
						</li> -->
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a href="http://www.mahalli.com/mahaliVendorGrocery/#/" target="_blank">Login as a Vendor
							</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a href="http://fansadda.mobi/mahaliadmin/#/" target="_blank">Partner with
								Wholesaler</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>My
						<strong>Account</strong>
					</h4>
					<hr />
					<ul>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('myaccount')">My Account</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('accountData')">Account Information</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('deliveryAddr')">Address Books</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('myorders')">Order History</a>
						</li>
						<!-- <li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a href>Review and Ratings</a>
						</li>
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a href>Returns Request</a>
						</li> -->
						<li>
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;
							<a (click)="footerPages('news')">Newsletter</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>Photo
						<strong>Instagram</strong>
					</h4>
					<hr />
					<br />
					<!-- <div class="row">
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-1.jpg">
						</div>
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-2.jpg">
						</div>
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-3.jpg">
						</div>
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-4.jpg">
						</div>
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-1.jpg">
						</div>
						<div class="col-md-4 col-xs-4 insta">
							<img src="assets/images/insta-2.jpg">
						</div>
					</div> -->
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="foot-imgwrap">
								<div class="cust-imgwrap">
									<img src="assets/images/insta-1.jpg">
								</div>
								<div class="cust-imgwrap">
									<img src="assets/images/insta-2.jpg">
								</div>
								<div class="cust-imgwrap">
									<img src="assets/images/insta-3.jpg">
								</div>
								<div class="cust-imgwrap">
									<img src="assets/images/insta-4.jpg">
								</div>
								<div class="cust-imgwrap">
									<img src="assets/images/insta-1.jpg">
								</div>
								<div class="cust-imgwrap">
									<img src="assets/images/insta-2.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<br />
			<br />

		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container">
		<div class="row bttom">
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 mt-3">
				<p>@2018
					<strong>mahallimarket.com</strong>, all right reserved</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 up-icon">
				<div class="row justify-content-center">
					<figure class="figure cust-fig">
						<img src="assets/images/foot-icon.png" class="figure-img img-fluid rounded" alt="A generic">
						<figcaption class="figure-caption text-center cust-figcap"><a (click)="moveUp()">
								<i class="fa fa-arrow-circle-o-up arr-up" aria-hidden="true"></i>
							</a></figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 bottom-cont mt-3">
				<p>
					<a routerLink="/contact">Contact Us</a>&nbsp;&nbsp;&nbsp;
					<a routerLink="/terms">Terms of Use</a>&nbsp;&nbsp;&nbsp;
					<a routerLink="/privacy">Privacy Policy</a>
				</p>
			</div>
		</div>
	</div>
</div>