/* new styles */
.cust-span{
  margin-left: 14px;
  line-height: 25px;
  
}
.cust-span2{
  margin-left: 22px;
}

.back-color{
  background: #ece8d7;
  padding-top: 90px;
}
/* new styles ends */
h4 {
  font-weight: normal !important;
  font-size: 18px;
}

.logo p {
  font-size: 14px;
}

.logo img {
  height: 50px;
  margin-top: -22px;
}

.address p {
  margin-top: -5px;
}

.container {
  max-width: 1260px !important;
}

hr {
  border: 0;
  margin-right: 257px;
  border-top: 2px solid rgb(126, 186, 0);
}

ul {
  list-style: none;
}

li {
  margin-left: -38px;
  line-height: 35px;
}

.fa-arrow-circle-o-right {
  color: #777a7c;
}

a {
  color: #454545 !important;
  font-size: 14px !important;
}
.foot-imgwrap{
  display: flex;
  flex-wrap: wrap;
}

.bttom a {
  font-size: 13px !important;
  font-weight: 600;
}

.bttom p,
  {
  font-weight: 600;
}
.bttom{
  margin: 15px 0;
}
.bottom-cont p {
  float: right;
}
.bottom-cont p a{
  color: black !important;
}

.up-icon {
   text-align: center;
  margin-top: -17px; 
}
.cust-fig {
  margin-top: -43px;
}
.arr-up{
  font-size: 30px;
  /* color: #dfdfdf; */
  color: #696060;
  
}
.cust-figcap{
  margin-top: -20px;
}
@media screen and (max-width: 991px){
  .bttom {
    text-align:center;
  }
  .cust-fig img{
    display: none;
  }
   
  }
@media screen and (max-width: 520px){
  .insta{
    text-align: center;
}
/*Ulka CSS*/
/*.arr-up{margin-top:-55px !important;}*/
.back-color{padding-top:40px;}
}
.cust-hr{
  border-top: 11px solid white;
  margin-bottom: -43px;
}

@media screen and (max-width: 767px){
  .bottom-cont p {
    float: initial;
  }
  .arr-up{
    position: absolute;
    margin-top: -30px;
  }
}

@media (min-width: 768px) and (max-width: 1198.98px) { 
  .bottom-cont p {
    float: initial;
  }
 }