<app-header></app-header>
<div class="container">
    <h2 class="text-center font-bold pt-4 pb-5 mb-5">
    </h2>
    <!-- Stepper -->
    <div class="steps-form-2">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="Business Details"
                    title="Business Details" (click)="showBusiness()">
                    <h3>1</h3>
                </a>
                <p>Business Details</p>
            </div>
            <div class="steps-step-2">
                <a type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="tationary Complaince & Taxation"
                    title="Stationary Complaince & Taxation" (click)="showStationary()">
                    <h3>2</h3>
                </a>
                <p>Stationary Complaince
                    <br /> & Taxation</p>
            </div>
            <div class="steps-step-2">
                <a type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="Bank Details"
                    title="Bank Details" (click)="showBank()">
                    <h3>3</h3>
                </a>
                <p>Bank Details</p>
            </div>
            <div class="steps-step-2">
                <a type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="Add Products"
                    title="Add Products" (click)="addProd()">
                    <h3>4</h3>
                </a>
                <p>Add Products</p>
            </div>

        </div>
    </div>

    <!-- First Step -->
    <div class="row cust-frst">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <form role="form">
                <div class="row setup-content-2" *ngIf="showBusinessDetails">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold pl-0 my-4">
                            <strong>Business Details</strong>
                        </h3>
                        <form [formGroup]="bussinessForm">
                            <div class="form-group row">
                                <label for="fisrtname" class="col-sm-2 col-form-label">* First Name :</label>
                                <div class="col-sm-10">
                                    <input alphabetsOnly type="text" class="form-control" id="fisrtname" formControlName="bussiness_first_name" class="form-control"
                                        [ngClass]="{ 'is-invalid':  bussiness_first_name_errors }">
                                    <div *ngIf=" bussiness_first_name_errors" class="invalid-feedback">
                                        <div *ngIf="bussiness_first_name_errors">First Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-sm-2 col-form-label"> * Last Name :</label>
                                <div class="col-sm-10">
                                    <input alphabetsOnly type="text" class="form-control" id="last_name" formControlName="bussiness_last_name" class="form-control"
                                        [ngClass]="{ 'is-invalid':  bussiness_last_name_errors }">
                                    <div *ngIf=" bussiness_last_name_errors" class="invalid-feedback">
                                        <div *ngIf="bussiness_last_name_errors">Last Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mobnumber" class="col-sm-2 col-form-label">* Mobile no :</label>
                                <div class="col-sm-10">
                                    <input myNumberOnly type="text" class="form-control" id="mobile_number" formControlName="mobile_number" class="form-control"
                                        [ngClass]="{ 'is-invalid':  mobile_number_errors }">
                                    <div *ngIf=" mobile_number_errors" class="invalid-feedback">
                                        <div *ngIf="mobile_number_errors">Mobile Number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="emailform" class="col-sm-2 col-form-label">* Email :</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" formControlName="bussiness_email" class="form-control" [ngClass]="{ 'is-invalid':  bussiness_email_errors }">
                                    <div *ngIf="bussiness_email_errors" class="invalid-feedback">
                                        <div *ngIf="bussiness_email_errors">Email is required</div>
                                        <div *ngIf="bussiness_email_errors">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="businessname" class="col-sm-2 col-form-label">* Business Name :</label>
                                <div class="col-sm-10">
                                    <input alphabetsOnly type="text" class="form-control" id="bussiness_name" formControlName="bussiness_name" class="form-control"
                                        [ngClass]="{ 'is-invalid':  bussiness_name_errors }">
                                    <div *ngIf="bussiness_name_errors" class="invalid-feedback">
                                        <div *ngIf="bussiness_name_errors">Business Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">* Address :</label>
                                <div class="col-sm-10">
                                    <input type="textarea" class="form-control" id="business_address" formControlName="bussiness_address" class="form-control"
                                        [ngClass]="{ 'is-invalid':  business_address_errors }">
                                    <div *ngIf="business_address_errors" class="invalid-feedback">
                                        <div *ngIf="business_address_errors">Address is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fisrtname" class="col-sm-2 col-form-label">* Area :</label>
                                <div class="col-sm-4">
                                    <input alphabetsOnly type="text" class="form-control" id="business_area" formControlName="bussiness_area" class="form-control"
                                        [ngClass]="{ 'is-invalid':  business_area_errors }">
                                    <div *ngIf="business_area_errors" class="invalid-feedback">
                                        <div *ngIf="business_area_errors">Area is required</div>
                                    </div>
                                </div>
                                <label for="fisrtname" class="col-sm-2 col-form-label">* City :</label>
                                <div class="col-sm-4">
                                    <input alphabetsOnly type="text" class="form-control" id="business_city" formControlName="bussiness_city" class="form-control"
                                        [ngClass]="{ 'is-invalid':  business_city_errors }">
                                    <div *ngIf="business_city_errors" class="invalid-feedback">
                                        <div *ngIf="business_city_errors">City is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">* Country :</label>
                                <div class="col-sm-10">
                                    <input alphabetsOnly type="text" class="form-control" id="business_country" formControlName="bussiness_country" class="form-control"
                                        [ngClass]="{ 'is-invalid':  business_country_errors }">
                                    <div *ngIf="business_country_errors" class="invalid-feedback">
                                        <div *ngIf="business_country_errors">Country is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">* PinCode :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="business_pincode" formControlName="bussiness_pincode" class="form-control" [ngClass]="{ 'is-invalid': pin_code_errors }">
                                    <div *ngIf="pin_code_errors" class="invalid-feedback">
                                        <div *ngIf="pin_code_errors">Pincode is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="submit" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button class="btn submit-button1" (click)="businessDetails()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Second Step -->
                <div class="row setup-content-2" *ngIf="showStationaryData">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold pl-0 my-4">
                            <strong>Stationary Complaince & Taxation</strong>
                        </h3>
                        <form [formGroup]="StationaryForm">
                            <div class="form-group row">
                                <label for="fisrtname" class="col-sm-2 col-form-label">* VAT No :</label>
                                <div class="col-sm-10">
                                    <input myNumberOnly type="text" class="form-control" id="vatNo" formControlName="vat_number" class="form-control" [ngClass]="{ 'is-invalid': vat_number_errors }">
                                    <div *ngIf="vat_number_errors" class="invalid-feedback">
                                        <div *ngIf="vat_number_errors">VAT No is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-sm-2 col-form-label">* CR No :</label>
                                <div class="col-sm-10">
                                    <input myNumberOnly type="text" class="form-control" id="cr_number" formControlName="cr_number" class="form-control" [ngClass]="{ 'is-invalid':  cr_number_errors }">
                                    <div *ngIf="cr_number_errors" class="invalid-feedback">
                                        <div *ngIf="cr_number_errors">CR No is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="submit" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button class="btn submit-button1" (click)="tax()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Third Step -->
                <div class="row setup-content-2" *ngIf="showBankDetails">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold pl-0 my-4">
                            <strong>Bank Details</strong>
                        </h3>
                        <form [formGroup]="bankForm">
                            <div class="form-group row">
                                <label for="holdername" class="col-sm-4 col-form-label">* Account Holder Name :</label>
                                <div class="col-sm-8">
                                    <input alphabetsOnly type="text" class="form-control" id="holdername" formControlName="account_holder_name" class="form-control"
                                        [ngClass]="{ 'is-invalid':  account_holder_name_errors }">
                                    <div *ngIf=" account_holder_name_errors" class="invalid-feedback">
                                        <div *ngIf="account_holder_name_errors">Account Holder is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="accnumber" class="col-sm-4 col-form-label">* Account Number :</label>
                                <div class="col-sm-8">
                                    <input myNumberOnly type="text" class="form-control" id="accnumber" formControlName="account_number" class="form-control"
                                        [ngClass]="{ 'is-invalid': account_number_errors }">
                                    <div *ngIf=" account_number_errors " class="invalid-feedback">
                                        <div *ngIf="account_number_errors ">Account Number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="accnumber1" class="col-sm-4 col-form-label">Re-Type Account Number :</label>
                                <div class="col-sm-8">
                                    <input myNumberOnly type="text" class="form-control" id="accnumber1" formControlName="retype_account_number" class="form-control"
                                        [ngClass]="{ 'is-invalid': retpeaccount_number_errors }">
                                    <div *ngIf=" retpeaccount_number_errors " class="invalid-feedback">
                                        <div *ngIf="retpeaccount_number_errors ">Re-Type Account is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="bankname" class="col-sm-4 col-form-label">* Bank Name :</label>
                                <div class="col-sm-8">
                                    <input alphabetsOnly type="text" class="form-control" id="bankname" formControlName="bank_name" class="form-control" [ngClass]="{ 'is-invalid':  bank_name_errors }">
                                    <div *ngIf="bank_name_errors" class="invalid-feedback">
                                        <div *ngIf="bank_name_errors">Bank Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ifsc" class="col-sm-4 col-form-label">* IBAN Code :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ifsc" formControlName="ifsc_code" class="form-control" [ngClass]="{ 'is-invalid':  ifsc_code_errors }">
                                    <div *ngIf="ifsc_code_errors" class="invalid-feedback">
                                        <div *ngIf="ifsc_code_errors">IFSC code is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row"> -->
                            <!-- <label for="fisrtname" class="col-sm-4 col-form-label">* Area :</label>
                <div class="col-sm-3">
                  <input alphabetsOnly type="text" class="form-control" id="bank_area" formControlName="bank_area"
                    class="form-control" [ngClass]="{ 'is-invalid':  bank_area_errors }">
                  <div *ngIf="bank_area_errors" class="invalid-feedback">
                    <div *ngIf="bank_area_errors">Area is required</div>
                  </div>
                </div>
                <label for="fisrtname" class="col-sm-2 col-form-label">* City :</label>
                <div class="col-sm-3">
                  <input alphabetsOnly type="text" class="form-control" id="bank_city" formControlName="bank_city"
                    class="form-control" [ngClass]="{ 'is-invalid':  bank_city_errors }">
                  <div *ngIf="bank_city_errors" class="invalid-feedback">
                    <div *ngIf="bank_city_errors">City is required</div>
                  </div>
                </div>
              </div> -->
                            <div class="form-group row">
                                <label for="branch" class="col-sm-4 col-form-label">* Branch Address:</label>
                                <div class="col-sm-8">
                                    <input alphabetsOnly type="textarea" class="form-control" id="branch" formControlName="bank_branch" class="form-control"
                                        [ngClass]="{ 'is-invalid':  bank_branch_errors }">
                                    <div *ngIf="bank_branch_errors" class="invalid-feedback">
                                        <div *ngIf="bank_branch_errors">Branch Address is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="submit" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn submit-button1" (click)="bankDeatails()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Fourth Step -->
                <div class="row setup-content-2 my-4" *ngIf="showAdd">
                    <div class="col-md-12">

                        <div class="">
                            <button class="btn submit-button1" routerLink="/addProduct">Add Products</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
</div>