.steps-form-2 {
  display: table;
  width: 100%;
  position: relative;
}

.steps-form-2 .steps-row-2 {
  display: table-row;
}

.steps-form-2 .steps-row-2:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 96%;
  margin-left: 20px;
  height: 2px;
  background-color: #7fba00;
}

.steps-form-2 .steps-row-2 .steps-step-2 {
  display: table-cell;
  text-align: center;
  position: relative;
}

.steps-form-2 .steps-row-2 .steps-step-2 p {
  margin-top: 0.5rem;
}

.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
  width: 70px;
  height: 70px;
  border: 2px solid #7fba00;
  background-color: white !important;
  color: #7fba00 !important;
  border-radius: 50%;
  padding: 17px 18px 15px 18px;
  margin-top: -22px;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
  border: 2px solid #7fba00;
  color: #ffffff !important;
  background-color: #7fba00 !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:focus {
  border: 2px solid #7fba00;
  color: #ffffff !important;
  background-color: #7fba00 !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
  font-size: 1.7rem;
}

.cust-frst {
  margin-top: 20px;
}

.submit-button1 {
  width: 100%;
  background-color: #7eba00;
  color: white;
}


