<div class="items-view">
	<div class="row">
		<div class="col-md-12 items-header">
			<h5 class="text-left">Shipment 1</h5>
			<ul>
				<li>3 items</li>
				<li>Total : BD 175.00</li>
			</ul>
			<span class="close" (click)="onCloseCancel()">X</span>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<table class="table ">
				<thead>
				</thead>
				<tbody>
					<tr>
						<td>
							<img src="assets/images/cherry.png" class="img-fluid">
						</td>
						<td>
							<b>Cherrys</b>
						</td>
						<td>1 * 2 Kg</td>
						<td>BD : 26.00
							<strike>12.00</strike>
						</td>
					</tr>
					<tr>
						<td>
							<img src="assets/images/tomato.png" class="img-fluid">
						</td>
						<td>
							<b>Tomatotes</b>
						</td>
						<td>1 * 2 Kg</td>
						<td>BD : 26.00
							<strike>12.00</strike>
						</td>
					</tr>
					<tr>
						<td>
							<img src="assets/images/onion.png" class="img-fluid">
						</td>
						<td>
							<b>Onions</b>
						</td>
						<td>1 * 2 Kg</td>
						<td>BD : 26.00
							<strike>12.00</strike>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>