.circle-indicators{
    .active{
        background-color: #801323;
    }
    li{
        background-color:rgba(230, 162, 172, 0.65);
    }
}
.btn-floating i{
    line-height: 35px !important;
}
.expand-button{
    display: none;
    list-style: none;
    padding:0px;
    li{
    display: inline-block;
    margin: 1px 10px;
    i{
    color:#dfdfdf;
    }
    img{
    width: 19px!important;
    height:auto!important; 
    margin-top: 0px;
    }
    }
    }
    .expand-button2{
    display: none;
    list-style: none;
    padding:0px;
    li{
    display: inline-block;
    margin: 1px 10px;
    i{
    color:#dfdfdf;
    }
    img{
    width: 19px!important;
    height:auto!important; 
    margin-top: 0px;
    }
    }
    }
    .wrapper:hover .expand-button-2{
    display: block;
    position: absolute;
    top: 4px;
    background: #ffffff;
    padding: 4px;
    right: 22px;
    border-radius: 24px;
    }
    .wrapper:hover .expand-button {
    display: block;
    position: absolute;
    top: 4px;
    background: #ffffff;
    padding: 4px;
    left: 22px;
    border-radius: 24px;
    }

.productcategory-hr{
    margin-top: -30px;
}
.ur-nearest{
    font-weight: 600;
}

.product-slider{
    height:auto;
}
.card {
    cursor: pointer;
    box-shadow:none;
    padding-bottom:12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .card:hover{
    box-shadow: 0px 0px 9px 4px #e6e6e6;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
  }
  .prodImg {
    max-width: 177px;
    height: 148px;
    margin: auto;
    margin-top: 27px;
    text-align: center;
  }
.store-location img{
border-radius:13px;
}
.product-slider{
    margin-top:3%;
}
.controls{
    text-align:center!important;
}
.banner-shop{
    margin-top: 12px;
    margin-bottom: 4%;
}
.browse-site::before{
    content: '';
    position: absolute;
    bottom: 9px;
    left: 0px;
    width: 1px;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    height: 47px;
    display: inline-block;
    background: #d0d0d0;
}
.browse-site {
    p{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 182px;
    white-space: nowrap;
    }
}
.top-brands{
border: 1px solid #d0d0d0;
margin-bottom:12px;
} 
.top-brands{
    img{
        width: 100%;
        margin-bottom: 6px!important;
        margin-top: 6px!important;
    }
    p{
        color: #000000;
        margin-top: 15px;
        margin-bottom: 0px;
    }
}
.slider-btn-left{
    box-shadow: none;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: -8px;
    border-top-left-radius: 30px!important;
    border-bottom-left-radius: 30px!important;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #b7b7b7;
}
.slider-btn-right{
    box-shadow: none;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: 7px;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #b7b7b7;
}
.slider-btn-left i , .slider-btn-right i{ 
    background: #ffffff;
    color: #000000;
    font-size: 14px;
}
.product-cat{
    
    ul{
        list-style: none;
        padding:0px;
        margin:0px;
        margin-top:2%;
        margin-bottom:2%;
    }
    li{
        display: inline-block;
    }
    span{
        font-weight: 300;
    }
}
.cat-btns button{
    background: #ffffff;
    color: #454545;
    box-shadow: none;
    padding: 7px 16px;
    font-weight: 600;
    border-radius: 45px;
    border: 1px solid #d7d7d7;
}
.cat-btns button:hover ,.cat-btns button:active{
    background: #7eba00;
    color: #ffffff;
    box-shadow: none;
    padding: 7px 16px;
    border-radius: 45px;
    border: 1px solid #d7d7d7;
}
.slider {
    .carousel-inner {
        height: 420px;
    }
}

.carousel-multi-item img {
    max-width: 83%;
    height: auto;
    margin: auto;
    margin-top: 27px;
}
.product-header span {
    font-weight:300;
}
.product-header{
    border: 1px solid #e5e5e5 !important;
    border-radius: 34px;
    width: 20%;
    padding: 5px;
    margin: 0px auto;
    margin-top: -36px;
    position: relative;
    background: #ffffff;
}
h5 {
    margin-top: 26px;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

p {
    color: #76b600;
    font-size: 14px;
}

p strike {
    color: gray;
}

.fetures {
    h4 {
        color: #76b600 !important;
    }
}

.intro {
    button {
        display: block;
    }
    .data {
        background-color: #d7edcd;
        border-radius: 10px;
    }
    .intro {
        padding: 45px;
    }
    .btn {
        height: 32px;
        padding-top: 7px;
        border-radius: 34px;
        background-color: #801323 !important;
    }
    strong {
        font-weight: 800;
    }
}

.recmded {
    .fa-star {
        color: #f3c752;
        padding-left: 2px;
    }
    p {
        color: #007bff;
    }
    a {
        color: black;
        font-weight: 600;
        font-size: 13px;
        /* margin-top: 38px; */
        position: relative;
        top: 14px;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: 160px;
    }
    .carousel-inner {
        height: auto;
    }
    .product-header{
        width: 40%;
        font-size: 18px;
    }
}

@media screen and (max-width:760px) {
    .card {
        width: 220px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:520px) {
    .card {
        width: 210px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:490px) {
    .card {
        width: 420px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:460px) {
    .card {
        width: 390px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:430px) {
    .card {
        width: 368px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:360px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) { 
    .quantity{
        width: 125%;
    }
 }
 /* Styles the thumbnail */
// .modal-popup-fullimage{
//     box-shadow: none!important;
//     border:0px!important;
//     padding: 0px;
//     height: auto;
//     .modal-content{
//         box-shadow: none!important;
//         border:0px!important;
//     }

// }
// .large-body {
//     text-align:center;
// img{
//     width: 60%!important;
//     height:50%!important;
//     margin-bottom: 60px;
// }
// }
// .close-modal{
//     .close {
//         float: right;
//         font-size: 40px;
//         color: #fff;
//         text-shadow: 0 1px 0 #fff;
//         opacity: 2.5;
//         margin-top: 20px;
//     margin-right: 20px;
//     }
// }
@media (min-width: 576px){
    .modal-popup-fullimage{
        max-width: 70%;
    }
}
.enlargeImg{
    .modal-header{
        border-bottom: none!important;
    }
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    width: auto !important;
    height: auto !important;
}
.btn.cart-btn {
    background: #76b600;
}
// .quantity-price.text-center {
//     padding: 6px !important;
// }
.gro-img{
    height: 160px;
    position: relative;
    padding: 36px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    //  position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 28px;
    margin-top: 20px;
}
.sort {
    select {
        width: 100%;
        padding: 6px;
        cursor:pointer;
    }
}
.noData{
    text-align: center;
}
.wrapper.all {
    margin-bottom: 30px;
}
.banImg {
    cursor: pointer;
}
.browse-site::before {
    bottom: 16px !important;
    height: 48px !important;
}
.enlargeImg {
    width: 71% !important;
    margin: 0px auto !important;
}
.large-body{
    text-align: center;
}
/*Ulka CSs*/
@media screen and (min-width:360px) and (max-width:520px) {
    div#multi-item-example1 {margin-bottom: 0 !important;}
    .deals {height: auto !important;}
    //.card {width: 50%;float: left;}
    .recommendedproducts .card {width: 100%;}
    .dealsAct .card{width: 50%;}
}
@media screen and (max-width:520px) {
    .slider .carousel-inner{height:300px !important;}
    
   
}
@media screen and (min-width: 521px) and (max-width:767px){
    div#multi-item-example1 {margin-bottom: 0 !important;}
    .deals {height: auto !important;}
   // .card {width: 50%;float: left;}
    .recommendedproducts .card {width: 100%;}
    .dealsAct .card{width: 50%;}
    .top-offers .dealsAct .card {width: 100%;}
    
}
@media screen and (min-width: 767px) and (max-width:991px){
    div#multi-item-example1 {margin-bottom: 0 !important;}
    div#multi-item-example6 .carousel-item {height:270px;}
    .deals {height: auto !important;}
    .recommendedproducts .card {width: 100%;}
    // .dealsAct .card{width: 50%;}
    // .card {width: 50%;float: left;}
}
@media (min-width: 320px) and (max-width: 475px){
    #multi-item-example .carousel-inner{height:auto !important;}
    div#multi-item-example {margin: 0;}
} 
@media screen and (max-width: 767px){
    .carousel, .carousel-multi-item, .carousel-thumbnails{margin-bottom:10px !important;}
    .col-md-3.recProds {    
        width: 70%;
        float: left;
        margin: 0px auto;}
        .col-sm-12.recProds  {
            flex: 0 0 75%;
        }
    .container.product-cat .card {width: 100%;}
    .carousel-multi-item img {max-width: 100%;width: 100%;margin-top: 0;}
    .carousel .card-block.col-md-6.recmded {text-align: center;}
    .carousel-item .card{width:100%;}    
}
@media screen and (max-width: 991px){
    .carousel-indicators{z-index:1;}
    .carousel-inner.product-slider .carousel-item.active {height: auto;}
}
.bg-layer{
    width: 100%;
    height: 198px;
    position: absolute;
    top: 0px
}
.card {
    box-shadow: none;
}

