.card img{
    height:150px;
    width:150px;

}
.custom-control-input {
        cursor: pointer;
    }
    .fresh-veg h4{
        text-align: center;
        margin-bottom: 3%;
        font-size: 28px;
    }
    .products{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .products h5 {
        font-weight: 500;
        margin-top: 40px;
    }
    .subCat {
        margin-left: 10%;
        position: relative;
        cursor: pointer;
        margin-bottom: -7px;
        margin-top: -7px;
    }
    .products p {
        cursor: pointer;
    }
    .products hr {
        border-top: 1px solid black;
    }
    .brands input {
        width: 100%;
    }
        .custom-checkbox {
            margin-top: 5px;
        }
        .brand-names {
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    .sort select {
            width: 100%;
    }
    .items a{
            font-weight: 400;
            color: #000000;
    }
    .items h5 {
            margin-top: 26px;
            color: black;
            font-weight: 800;
            height:50px;
            font-size: 16px;
        }
    .items p {
            color: #76b600;
            font-size: 14px;
        }
    .items p strike {
            color: gray;
        }
        .item {
            margin-bottom: 35px;
            cursor: pointer;
        }
        .card:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
.price{
    height: 200px;
    overflow-y:auto;
    overflow-x:hidden;
}
.cart-btn{
    background-color: #76b600;
    border-radius: 10px;
}
.carrot-price{
    margin-top: -6px;
}
.ladiesfinger-price{
    margin-top: -3px;
}
.search-icon{
    height: 37px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white !important;

}

.search-input {
    border: 1px solid black !important;
    height: 20px;
    width: 100%;
}    
.fa-search {
    position: relative;
    top: -3px;
}

   .form-group label {
        margin-top: -8px;
        margin-left: -118px;
    }
   .form-group button {
        height: 37px;
    }
    .btn-outline-success {
        border: 1px solid black!important;
        color: black !important;
    }
    .cust-srch label{
        margin-top: -67px;
        margin-left: 55%;
     }
    .image-potato{
        margin-top: 41px;
    }
    .image-carrot{
        margin-top: 20px;
    } 
    .image-finger{
        margin-top: 20px;
    }
    .slider-btn-left{
        box-shadow: none;
        width: 47px;
        height: 47px;
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        margin: -8px;
        border-top-left-radius: 30px!important;
        border-bottom-left-radius: 30px!important;
        border-radius: 0px;
        padding: 0;
        border: 1px solid #b7b7b7;
    }
    .slider-btn-right{
        box-shadow: none;
        width: 47px;
        height: 47px;
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        margin: 7px;
        border-top-right-radius: 30px!important;
        border-bottom-right-radius: 30px!important;
        border-radius: 0px;
        padding: 0;
        border: 1px solid #b7b7b7;
    }
    .slider-btn-left i , .slider-btn-right i{ 
        background: #ffffff;
        color: #000000;
        font-size: 14px;
    }
    .slider-buttons{
        float: right;
    }
    .subcat {
        background:#f7f6f2;
        padding: 15px;
        border-bottom: 1px solid;
    }
        
@media only screen and (max-width:1199px){
    .cart-btn{
        padding: 10px;
    }
} 
    
@media only screen and (max-width:991px){
    .potato-item{
        margin-top: 5px;
    }
}
@media only screen and (max-width:767px){
    .potato-item{
        margin-top: -5px;
    }
    .items p{
        margin-top: 15%;
    }
}
#subCat {
    padding-left: 43px;
    border-bottom: 1px solid;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0px;
    }
    .subCates {
    background: #f7f6f2;
    }