<app-header></app-header>
<div class="container list-items mb-5 mt-3">
  <div class="row">
    <div class="col-lg-3">
      <p class="bredcrum">
        <a routerLink="/">Home</a>&nbsp;>&nbsp;My Saved List</p>
      <ul class="saved-list">
        <h4 class="account-header">MY SAVED LIST</h4>
        <h5>Category</h5>
        <li>Vegetables & Fruits</li>
        <li>Foodgrains, Oil & Masala</li>
        <li>Bakery Cakes & Dairy</li>
        <li>Beverages</li>
        <li>Baby Care</li>
        <li>Egg, Meat & Fish</li>
        <li>Kitchen & Garden</li>
      </ul>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-12 saved-quote">
          <h4>Our Recommendations For You</h4>
          <h4>Based on What Customers like you have bought</h4>
        </div>
        <div class="col-md-12 mt-3">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- slider -->
        <div id="multi-item-example" class="carousel slide carousel-multi-item container mt-3" data-ride="carousel">
          <br />
          <!--Slides-->
          <div class="carousel-inner product-slider" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

              <div class="col-md-4">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>


            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item ">
              <div class="col-md-4">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>




            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item ">

              <div class="col-md-4">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="product-image" (click)="showProduxtDetails()">
                    <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                  </div>
                  <div class="card-block add-to-cart">
                    <h5 class="text-center">Electric Kettle </h5>
                    <p class="text-center">
                      BD 7.500
                      <strike>BD 8.000</strike>
                    </p>
                    <div class="quantity-price text-center">
                      <select>
                        <option value="" disabled selected>500gms-Rs 20.40</option>
                        <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                        <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                      </select>
                    </div>
                    <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                  </div>
                </div>
              </div>


            </div>
            <!--/.Third slide-->

          </div>
          <!--/.Slides-->

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating btn-small slider-btn-left" href="#multi-item-example" data-slide="prev">
              <i class="fas fa-long-arrow-alt-left"></i>
            </a>
            <a class="btn-floating btn-small slider-btn-right" href="#multi-item-example" data-slide="next">
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </div>
          <!--/.Controls-->

        </div>
        <!-- end deals -->
        <!-- slider -->
      </div>
    </div>
  </div>
</div>
