<app-header [cartCount]="cartCount" [billing]="billing"></app-header>
<div class="container list-items mb-5 mt-3">
  <div class="row">
    <div class="col-lg-3">
      <p class="bredcrum">
        <a routerLink="/">Home</a>&nbsp;>&nbsp;My Saved List</p>
      <ul class="saved-list">
        <h4 class="account-header">MY SAVED LIST</h4>
        <h5>Category</h5>
        <li *ngFor="let data of category" (click)="getCatProducts(data.id)">{{data.category_name}}</li>

      </ul>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-12 saved-quote">
          <h4>Our Recommendations For You</h4>
          <h4>Based on What Customers like you have bought</h4>
        </div>
        <div class="col-md-12 mt-3">
          <!-- <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/onion.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div> -->
          <!-- <div class="col-md-4 ">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/cherry.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="product-image" (click)="showProduxtDetails()">
                  <img class="img-fluid" src="assets/images/pinapple.png" alt="Card image cap">
                </div>
                <div class="card-block add-to-cart">
                  <h5 class="text-center">Electric Kettle </h5>
                  <p class="text-center">
                    BD 7.500
                    <strike>BD 8.000</strike>
                  </p>
                  <div class="quantity-price text-center">
                    <select>
                      <option value="" disabled selected>500gms-Rs 20.40</option>
                      <option value="" data-icon="images/sample-1.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/office.jpg" class="left">1000gms-Rs 40.80</option>
                      <option value="" data-icon="images/yuna.jpg" class="left">1000gms-Rs 40.80</option>
                    </select>
                  </div>
                  <button type="text" class="btn waves-effect waves-light">Add To Cart</button>
                </div>
              </div>
            </div> -->
          <!-- </div> -->

        </div>
        <div class="row mysaved-pad">
          <div class="col-md-3 item" *ngFor="let data of wishData">
            <div class="wrapper">
              <div class="card">
                <img src="assets/images/background-img.png" class="bg-layer">
                <img class="img-fluid gro-img" [src]="data.image" alt="Card image cap"
                  (click)="showProduxtDetails(data.products.vendor_product_id,data.products.vendorid_as_owner)">
                <div class="card-block">
                  <h5 class="text-center">{{data.product_name}} </h5>
                  <p class="text-center">
                    BD {{data?.selling_price}}
                    <strike>BD {{data?.actual_price}}</strike>
                  </p>
                  <div class="sort">
                    <select (change)="changeSize($event.target.value)">
                      <option *ngFor="let sku of data.products.sku_details" [value]="sku?.skid">{{sku?.size}}-BD
                        {{data?.selling_price}}
                      </option>
                    </select>
                  </div>
                </div>
                <button type="button" class="btn cart-btn"
                  (click)="checkProdQuty(data.product_id,data.skid,data.selling_price,data.products.vendorid_as_owner,data.products.vendor_product_id,data.products.updated_discount)">Add
                  To
                  Cart
                </button>
              </div>
              <ul class="expand-button">
                <li><a
                    (click)="checkProdQuty(data.product_id,data.skid,data.selling_price,data.products.vendorid_as_owner,data.products.vendor_product_id,data.products.updated_discount)"><i
                      class="fas fa-shopping-basket"></i></a>
                </li>
                <li><a (click)="open(data.skid)"><img src="assets/images/maximize.png"></a></li>
              </ul>
              <ul class="expand-button2 expand-button-2">
                <li><a (click)="addtoWish(data.product_id,data.skid)"><i class="fas fa-heart"
                      [ngStyle]="{'color':data.wish_list == 'true' ? 'yellow'  :  '#dfdfdf'}"></i></a>
                </li>
              </ul>
              <div *ngIf="!skuData">
                No data
              </div>
            </div>

          </div>
        </div>

        <!-- slider -->
        <!-- end deals -->
        <!-- slider -->
      </div>
    </div>
  </div>
</div>