/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
  min-height: 75rem;
  /* padding-top: 4.5rem; */
}

body.modal-open {
  padding-right: 40px !important;
}

.place-order button {
  background: #7eba00;
}

a {
  cursor: pointer;
}

body {
  font-family: roboto;
}

.carousel-multi-item .controls-top {
  text-align: right !important;
}

h4 {
  font-weight: bold !important;
  color: #454545 !important;
}

h4 a {
  font-size: 14px;
  font-weight: normal;
  color: #4a84c3 !important;
}

.btn-maroon {
  background-color: #7eba00;
  border-radius: 9px !important;
}

.carousel-inner {
  height: 315px;
}

.fa-chevron-right {
  background-color: #7eba00;
}

.fa-chevron-left {
  background-color: #7eba00;
}

.mat-dialog-container {
  padding: 60px !important;
  border-radius: 11px !important;
}

/* vamshi css */
.card {
  cursor: pointer;
  box-shadow: none;
  padding-bottom: 12px;
}

.card:hover {
  box-shadow: 0px 0px 9px 4px #e6e6e6;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.card:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 35%;
  /* margin-top: 70px; */
  width: 29%;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  height: 5px;
  display: inline-block;
  background: #7eba00;
}



.product-image {
  background: #f7f6f2;
  text-align: center;
  /* padding-top: 14%;
  padding-bottom: 12%; */
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.card-block {
  padding: 5px;
}

.add-to-cart button {
  width: 100%;
  background: #7eba00;
  color: #ffffff;
  margin: 0px;
  margin-top: 12px;
  box-shadow: none;
  text-align: center;
}

.quantity-price select {
  width: 100%;
  padding: 6px;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

.activeCircle {
  border: 2px solid #7fba00;
  color: #ffffff !important;
  background-color: #7fba00 !important;
}



/* media queries */

@media screen and (max-width:768px) {
  .card {
    width: 160px;
  }
}

@media screen and (max-width:760px) {
  .card {
    width: 220px;
  }
}

@media screen and (max-width:520px) {
  .card {
    width: 210px;
  }
}

@media screen and (max-width:490px) {
  .card {
    width: 420px;
  }
}

@media screen and (max-width:460px) {
  .card {
    width: 390px;
  }
}

@media screen and (max-width:430px) {
  .card {
    width: 368px;
  }
}

@media screen and (max-width:360px) {
  .card {
    width: 300px;
  }

  .carousel-inner {
    height: auto;
  }
}

@media screen and (max-width:375px) {
  .card {
    width: 300px;
  }

  .carousel-inner {
    height: auto;
  }
}

.ng2-carouselamos-wrapper {
  width: 1045px !important;
  position: relative;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:active {
  background-color: #7fba00 !important;
  color: white !important;
}
.cat-drop .subcatcat{
    position: absolute;
    top: -2px;
    left: 56px;
    padding: 7px;
    width: 100%;
    z-index: -1;
    height: 100px;
    }